
.table-view-table td:nth-child(1) {

min-width: 10px;

}

.table-view-table td:nth-child(2) {

min-width: 70px;

}

.table-view-table td:nth-child(3) {

min-width: 50px;

}


.table-view-table td:nth-child(4) {

min-width: 100px;

}